<!DOCTYPE html>
<html>
   <head>
      <title>Hololens</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

   </head>
   <body>
<div class="container">
   <div class="row clearfix">
      <div class="col-md-12 column">
         <div class="row clearfix">
            <div class="col-md-12 column">
               <div class="page-header">
                  <h1>
                     Hololens Laboratory <small> Admin Page</small>
                  </h1>
               </div>
            </div>
         </div>
      <ul class="nav nav-tabs">
          <li class="active">
             <a href="#panel-1" data-toggle="tab">Virtual Sandbox</a>
          </li>
          <li>
             <a href="#panel-2" data-toggle="tab">Interactive Video</a>
          </li>
          <li>
             <a href="#panel-3" data-toggle="tab">Interactive Model</a>
          </li>
          <li>
             <a href="#panel-4" data-toggle="tab">Virtual Environment Special Effects</a>
          </li>
      </ul>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <div class="tab-content">
                      <div class="tab-pane active" id="panel-1">
                  <!--                <form  enctype="multipart/form-data" method="post">
                                    <div class="form-group">
                                        <label for="username">用户名</label><input class="form-control" id="username" />
                                    </div>
                                    <div class="form-group">
                                        <label for="project">项目名</label><input class="form-control" id="project" type="password" />
                                    </div>
                                    <div class="form-group">
                                        <label for="inputfile">上传图片</label><input type="file" id="uploadFile" runat="server" />
                                       <p class="help-block">
                                          上传你设计好的 Hololens 模型
                                       </p>
                                    </div>
                                    <input type="button" id="btnUpload" value="确定" onclick="uploadImage()" />
                                 </form> -->
                        <p>Please upload the model you want to display in Hololens.</p>
                        <form id="uploadForm1" enctype="multipart/form-data">
            		            <h4> upload village model</h4> 
                            <input id="file1" type="file" name="main_model"/>
                            <br></br>
                            <button id="add" type="button">add new hourse model.</button>
                            <div id="optional">
                            <br></br>
                            </div>
                            <button id="upload" type="button" onclick="uploadImage(1)">upload</button>
                        </form>                  
                      </div>
                      <div class="tab-pane" id="panel-2">
                        <p>Please upload the Interactive Video you want to display in Hololens.</p>
                        <form id="uploadForm2" enctype="multipart/form-data">
                            <h4> upload Interactive Video</h4>
                            <input id="file2" type="file" name="main_model"/>
                            <button id="upload" type="button" onclick="uploadImage(2)">upload</button>
                        </form>                  
                      </div>
                      <div class="tab-pane" id="panel-3">
                        <p>Please upload the Interactive Model you want to display in Hololens.</p>
                        <form id="uploadForm3" enctype="multipart/form-data">
                            <h4> Upload Interactive Model</h4>
                            <input id="file3" type="file" name="main_model"/>
                            <h4>Select Method:</h4>
                            <select id="method"> 
                              <option value="0" id="optionvalue">Clockwise</option> 
                              <option value="1">Counterclockwise</option> 
                            </select> 
                            </br>
                            <button id="upload" type="button" onclick="uploadImage(3)">upload</button>
                        </form>                  
                      </div>

                      <div class="tab-pane" id="panel-4">
                        <p>Please upload the Special Effects you want to display in Hololens.</p>
                        <form id="uploadForm4" >
                            <h4>Select Special Effects Method:</h4>
                            <select id="special_effect_method"> 
                              <option value="0" id="optionvalue">Rainbow</option> 
                              <option value="1">Starry Sky</option> 
                            </select> 
                            </br>
                            <button id="upload" type="button" onclick="uploadImage(4)">upload</button>
                        </form>                  
                      </div>

                    </div>
                 </div>
                  <div class="col-md-6 column">
                     <div class="row clearfix">
                        <div class="col-md-2 column">
                        </div>
                        <div class="col-md-6 column">
                           <img  id="result" alt="140x140" src="v3/default3.jpg" />
                        </div>
                        <div class="col-md-4 column">
                        </div>
                     </div>
                  </div>

            </div>

         <div class="row clearfix">
            <div class="col-md-12 column">
            </div>
         </div>
      </div>
   </div>
</div>



      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="{{static_url('js/bootstrap.min.js')}}"></script>

      <script type="text/javascript">

      </script>
      <script type="text/javascript">
        var count = 1;
        jQuery(function($){
         //添加行
          $("#add").click(function(){
              $("#optional").append('<h4> Upload No.'+count+' hourse model</h4> <input id="file"'+count+' type="file" name="hourse"'+count+'/><h4>Upload No.'+count+' music model</h4><input id="file"'+count+' type="file" name="music"'+count+'/><br></br>')
              count = count + 1;
           });
        });
    
      function sleep(n)
      {
        var start=new Date().getTime();
        while(true) if(new Date().getTime()-start>n) break;
      }

     function uploadImage(upload_type) {      
       // sleep(10000); 
       para = 'type='+upload_type+'&count='+count;
       if(upload_type == 1){
          para = para + '&count='+count;
       }
       if(upload_type == 3){
         oListbox = document.getElementById("method");   
         method = oListbox.options[oListbox.selectedIndex].value;
         para = para+'&method='+method;
       }
       if(upload_type==4){
         oListbox = document.getElementById("special_effect_method");   
         method = oListbox.options[oListbox.selectedIndex].value;
         para = para+'&special_effect_method='+method;
         $.ajax({
             url: '../hololens/upload?'+para,
             type: 'POST',
             success: function(data) {
                 // alert("上传成功");
                 alert(JSON.stringify(data));
                 if (data.code!='2')
                 {
                    //alert("upload successfully!")
                    $("img#result").attr('src',data.data.url); 
                 }
                 else{
                    alert(JSON.stringify(data));
                 }
             },
             error: function(XMLHttpRequest, textStatus, errorThrown) {
                 alert("上传失败，请检查网络后重试");
             }          
         }).done(function(res) {
         }).fail(function(res) {
         });
       }
       else
        $.ajax({
             url: '../hololens/upload?type='+para,
             type: 'POST',
             cache: false,
             data: new FormData($('#uploadForm'+upload_type)[0]),
             processData: false,
             contentType: false,
             success: function(data) {
                 // alert("上传成功");
                 alert(JSON.stringify(data));
                 if (data.code!='2')
                 {
                    //alert("upload successfully!")
                    $("img#result").attr('src',data.data.url); 
                 }
                 else{
                    alert(JSON.stringify(data));
                 }
             },
             error: function(XMLHttpRequest, textStatus, errorThrown) {
                 alert("上传失败，请检查网络后重试");
             }          
         }).done(function(res) {
         }).fail(function(res) {
         });
      }

        // function uploadImage() {
        // //判断是否有选择上传文件
        //     var imgPath = $("#uploadFile").val();
        //     if (imgPath == "") {
        //         alert("请选择上传图片！");
        //         return;
        //     }
        //     //判断上传文件的后缀名
        //     // var strExtension = imgPath.substr(imgPath.lastIndexOf('.') + 1);
        //     // if (strExtension != 'jpg' && strExtension != 'gif'
        //     // && strExtension != 'png' && strExtension != 'bmp') {
        //     //     alert("请选择图片文件");
        //     //     return;
        //     // }
        //     $.ajax({
        //         type: "POST",
        //         url: "../hololens/upload",
        //         data: { imgPath: $("#uploadFile").val() },
        //         cache: false,
        //         success: function(data) {
        //             alert("上传成功");
        //             // $("#imgDiv").empty();
        //             // $("#imgDiv").html(data);
        //             // $("#imgDiv").show();
        //         },
        //         error: function(XMLHttpRequest, textStatus, errorThrown) {
        //             alert("上传失败，请检查网络后重试");
        //         }
        //     });
        // }
      // $("input#submit").click(function()
      // {
      //    alert("test");
      //    alert($("input#inputfile").val());
      //    //var form = new FormData(document.getElementById("form"));  
      //    $.ajax({  
      //       url:"../hololens/upload",  
      //       type:"post",  
      //       data: {username:'testname'},//{file: $("input#inputfile").val()}, //{file: $("#inputfile").val()}//form,//{username:'testname'},  
      //       cache: false,  
      //       // processData: false,  
      //       // contentType: false,  
      //       success:function(data){  
      //             alert("in success");
      //             $("img#result").attr('src',"{{static_url('img/hololens.png')}}"); 
      //       },  
      //       error:function(e){  
      //           alert("网络错误，请重试！！");  
      //        }  
      //       });          
          
      // });
      </script>
   </body>
</html>
